/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root {
    -fx-font-family: "Meiryo UI";
    -fx-background-color: linear-gradient(to bottom right, derive(#FFFEFF, 100%), #D7FFFE);
}

/*ラベル*/
.label {
    -fx-font-size: 14;
}

/*テキストフィールド*/
.text-field {
    -fx-font-size: 16;
}

/*チェックボックス*/
.check-box {
    -fx-font-size: 16;
}

/*ラジオボタン*/
.radio-button {
    -fx-font-size: 16;
}